openapi: 3.0.1
info:
  title: Greenfield - gRPC Gateway docs
  description: A REST interface for state queries
  version: 1.0.0
servers:
- url: https://gnfd-testnet-fullnode-tendermint-us.bnbchain.org

paths:
  /greenfield/bridge/params:
    get:
      tags:
      - Query
      summary: Parameters queries the parameters of the module.
      operationId: BridgeParams
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  params:
                    type: object
                    properties:
                      transfer_out_relayer_fee:
                        title: Relayer fee for the cross chain transfer out tx
                        type: string
                      transfer_out_ack_relayer_fee:
                        title: Relayer fee for the ACK or FAIL_ACK package of the
                          cross chain transfer out tx
                        type: string
                    description: params holds all the parameters of this module.
                description: QueryParamsResponse is response type for the Query/Params
                  RPC method.
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/auto_settle_record:
    get:
      tags:
      - Query
      summary: Queries a list of AutoSettleRecord items.
      operationId: AutoSettleRecordAll
      parameters:
      - name: pagination.key
        in: query
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        schema:
          type: string
          format: byte
      - name: pagination.offset
        in: query
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        in: query
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        in: query
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        schema:
          type: boolean
      - name: pagination.reverse
        in: query
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        schema:
          type: boolean
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  auto_settle_record:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          description: timestamp is the unix timestamp when the stream
                            account will be settled.
                          format: int64
                        addr:
                          title: A stream account address
                          type: string
                      description: |-
                        AutoSettleRecord is the record keeps the auto settle information.
                        The EndBlocker of payment module will scan the list of AutoSettleRecord
                        and settle the stream account if the timestamp is less than the current time.
                  pagination:
                    type: object
                    properties:
                      next_key:
                        pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                        type: string
                        description: |-
                          next_key is the key to be passed to PageRequest.key to
                          query the next page most efficiently. It will be empty if
                          there are no more results.
                        format: byte
                      total:
                        title: |-
                          total is total number of results available if PageRequest.count_total
                          was set, its value is undefined otherwise
                        type: string
                        format: uint64
                    description: |-
                      PageResponse is to be embedded in gRPC response messages where the
                      corresponding request message has used PageRequest.

                       message SomeResponse {
                               repeated Bar results = 1;
                               PageResponse page = 2;
                       }
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/dynamic_balance/{account}:
    get:
      tags:
      - Query
      summary: Queries a list of DynamicBalance items.
      operationId: DynamicBalance
      parameters:
      - name: account
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  dynamic_balance:
                    title: dynamic balance is static balance + flowDelta
                    type: string
                  stream_record:
                    title: the stream record of the given account, if it does not
                      exist, it will be default values
                    type: object
                    properties:
                      account:
                        title: account address
                        type: string
                      crud_timestamp:
                        title: latest update timestamp of the stream record
                        type: string
                        format: int64
                      netflow_rate:
                        type: string
                        description: |-
                          The per-second rate that an account's balance is changing.
                          It is the sum of the account's inbound and outbound flow rates.
                      static_balance:
                        type: string
                        description: The balance of the stream account at the latest
                          CRUD timestamp.
                      buffer_balance:
                        title: |-
                          reserved balance of the stream account
                          If the netflow rate is negative, the reserved balance is `netflow_rate * reserve_time`
                        type: string
                      lock_balance:
                        title: the locked balance of the stream account after it puts
                          a new object and before the object is sealed
                        type: string
                      status:
                        title: the status of the stream account
                        type: string
                        description: |-
                          - STREAM_ACCOUNT_STATUS_ACTIVE: STREAM_ACCOUNT_STATUS_ACTIVE defines the active status of a stream account.
                           - STREAM_ACCOUNT_STATUS_FROZEN: STREAM_ACCOUNT_STATUS_FROZEN defines the frozen status of a stream account.
                          A frozen stream account cannot be used as payment address for buckets.
                          It can be unfrozen by depositing more BNB to the stream account.
                        default: STREAM_ACCOUNT_STATUS_ACTIVE
                        enum:
                        - STREAM_ACCOUNT_STATUS_ACTIVE
                        - STREAM_ACCOUNT_STATUS_FROZEN
                      settle_timestamp:
                        title: the unix timestamp when the stream account will be
                          settled
                        type: string
                        format: int64
                      out_flows:
                        title: the accumulated outflow rates of the stream account
                        type: array
                        items:
                          title: |-
                            OutFlow defines the accumulative outflow stream rate in BNB
                            from a stream account to a Storage Provider
                          type: object
                          properties:
                            to_address:
                              title: stream account address who receives the flow,
                                usually SP(service provider)
                              type: string
                            rate:
                              title: flow rate
                              type: string
                  current_timestamp:
                    title: the timestamp of the current block
                    type: string
                    format: int64
                  bank_balance:
                    title: bank_balance is the BNB balance of the bank module
                    type: string
                  available_balance:
                    title: available_balance is bank balance + static balance
                    type: string
                  locked_fee:
                    title: locked_fee is buffer balance + locked balance
                    type: string
                  change_rate:
                    title: change_rate is the netflow rate of the given account
                    type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/get_payment_accounts_by_owner/{owner}:
    get:
      tags:
      - Query
      summary: Queries a list of GetPaymentAccountsByOwner items.
      operationId: GetPaymentAccountsByOwner
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  paymentAccounts:
                    type: array
                    items:
                      type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/params:
    get:
      tags:
      - Query
      summary: Parameters queries the parameters of the module.
      operationId: PaymentParams
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  params:
                    type: object
                    properties:
                      reserve_time:
                        title: Time duration which the buffer balance need to be reserved
                          for NetOutFlow e.g. 6 month
                        type: string
                        format: uint64
                      payment_account_count_limit:
                        title: The maximum number of payment accounts that can be
                          created by one user
                        type: string
                        format: uint64
                      forced_settle_time:
                        type: string
                        description: |-
                          Time duration threshold of forced settlement.
                          If dynamic balance is less than NetOutFlowRate * forcedSettleTime, the account can be forced settled.
                        format: uint64
                      max_auto_force_settle_num:
                        title: the maximum number of accounts that will be forced
                          settled in one block
                        type: string
                        format: uint64
                      fee_denom:
                        title: The denom of fee charged in payment module
                        type: string
                      validator_tax_rate:
                        title: The tax rate to pay for validators in storage payment.
                          The default value is 1%(0.01)
                        type: string
                    description: params holds all the parameters of this module.
                description: QueryParamsResponse is response type for the Query/Params
                  RPC method.
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/payment_account:
    get:
      tags:
      - Query
      summary: Queries a list of PaymentAccount items.
      operationId: PaymentAccountAll
      parameters:
      - name: pagination.key
        in: query
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        schema:
          type: string
          format: byte
      - name: pagination.offset
        in: query
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        in: query
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        in: query
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        schema:
          type: boolean
      - name: pagination.reverse
        in: query
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        schema:
          type: boolean
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  payment_account:
                    type: array
                    items:
                      title: PaymentAccount defines a payment account
                      type: object
                      properties:
                        addr:
                          title: the address of the payment account
                          type: string
                        owner:
                          title: the owner address of the payment account
                          type: string
                        refundable:
                          title: whether the payment account is refundable
                          type: boolean
                  pagination:
                    type: object
                    properties:
                      next_key:
                        pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                        type: string
                        description: |-
                          next_key is the key to be passed to PageRequest.key to
                          query the next page most efficiently. It will be empty if
                          there are no more results.
                        format: byte
                      total:
                        title: |-
                          total is total number of results available if PageRequest.count_total
                          was set, its value is undefined otherwise
                        type: string
                        format: uint64
                    description: |-
                      PageResponse is to be embedded in gRPC response messages where the
                      corresponding request message has used PageRequest.

                       message SomeResponse {
                               repeated Bar results = 1;
                               PageResponse page = 2;
                       }
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/payment_account/{addr}:
    get:
      tags:
      - Query
      summary: Queries a PaymentAccount by index.
      operationId: PaymentAccount
      parameters:
      - name: addr
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  payment_account:
                    title: PaymentAccount defines a payment account
                    type: object
                    properties:
                      addr:
                        title: the address of the payment account
                        type: string
                      owner:
                        title: the owner address of the payment account
                        type: string
                      refundable:
                        title: whether the payment account is refundable
                        type: boolean
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/payment_account_count:
    get:
      tags:
      - Query
      summary: Queries a list of PaymentAccountCount items.
      operationId: PaymentAccountCountAll
      parameters:
      - name: pagination.key
        in: query
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        schema:
          type: string
          format: byte
      - name: pagination.offset
        in: query
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        in: query
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        in: query
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        schema:
          type: boolean
      - name: pagination.reverse
        in: query
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        schema:
          type: boolean
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  payment_account_count:
                    type: array
                    items:
                      title: PaymentAccountCount defines the state struct which stores
                        the number of payment accounts for an account
                      type: object
                      properties:
                        owner:
                          title: owner is the account address
                          type: string
                        count:
                          title: count is the number of payment accounts for the account
                          type: string
                          format: uint64
                  pagination:
                    type: object
                    properties:
                      next_key:
                        pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                        type: string
                        description: |-
                          next_key is the key to be passed to PageRequest.key to
                          query the next page most efficiently. It will be empty if
                          there are no more results.
                        format: byte
                      total:
                        title: |-
                          total is total number of results available if PageRequest.count_total
                          was set, its value is undefined otherwise
                        type: string
                        format: uint64
                    description: |-
                      PageResponse is to be embedded in gRPC response messages where the
                      corresponding request message has used PageRequest.

                       message SomeResponse {
                               repeated Bar results = 1;
                               PageResponse page = 2;
                       }
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/payment_account_count/{owner}:
    get:
      tags:
      - Query
      summary: Queries a PaymentAccountCount by index.
      operationId: PaymentAccountCount
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  payment_account_count:
                    title: PaymentAccountCount defines the state struct which stores
                      the number of payment accounts for an account
                    type: object
                    properties:
                      owner:
                        title: owner is the account address
                        type: string
                      count:
                        title: count is the number of payment accounts for the account
                        type: string
                        format: uint64
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/stream_record:
    get:
      tags:
      - Query
      summary: Queries a list of StreamRecord items.
      operationId: StreamRecordAll
      parameters:
      - name: pagination.key
        in: query
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        schema:
          type: string
          format: byte
      - name: pagination.offset
        in: query
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        in: query
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        in: query
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        schema:
          type: boolean
      - name: pagination.reverse
        in: query
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        schema:
          type: boolean
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  stream_record:
                    type: array
                    items:
                      title: Stream Payment Record of a stream account
                      type: object
                      properties:
                        account:
                          title: account address
                          type: string
                        crud_timestamp:
                          title: latest update timestamp of the stream record
                          type: string
                          format: int64
                        netflow_rate:
                          type: string
                          description: |-
                            The per-second rate that an account's balance is changing.
                            It is the sum of the account's inbound and outbound flow rates.
                        static_balance:
                          type: string
                          description: The balance of the stream account at the latest
                            CRUD timestamp.
                        buffer_balance:
                          title: |-
                            reserved balance of the stream account
                            If the netflow rate is negative, the reserved balance is `netflow_rate * reserve_time`
                          type: string
                        lock_balance:
                          title: the locked balance of the stream account after it
                            puts a new object and before the object is sealed
                          type: string
                        status:
                          title: the status of the stream account
                          type: string
                          description: |-
                            - STREAM_ACCOUNT_STATUS_ACTIVE: STREAM_ACCOUNT_STATUS_ACTIVE defines the active status of a stream account.
                             - STREAM_ACCOUNT_STATUS_FROZEN: STREAM_ACCOUNT_STATUS_FROZEN defines the frozen status of a stream account.
                            A frozen stream account cannot be used as payment address for buckets.
                            It can be unfrozen by depositing more BNB to the stream account.
                          default: STREAM_ACCOUNT_STATUS_ACTIVE
                          enum:
                          - STREAM_ACCOUNT_STATUS_ACTIVE
                          - STREAM_ACCOUNT_STATUS_FROZEN
                        settle_timestamp:
                          title: the unix timestamp when the stream account will be
                            settled
                          type: string
                          format: int64
                        out_flows:
                          title: the accumulated outflow rates of the stream account
                          type: array
                          items:
                            title: |-
                              OutFlow defines the accumulative outflow stream rate in BNB
                              from a stream account to a Storage Provider
                            type: object
                            properties:
                              to_address:
                                title: stream account address who receives the flow,
                                  usually SP(service provider)
                                type: string
                              rate:
                                title: flow rate
                                type: string
                  pagination:
                    type: object
                    properties:
                      next_key:
                        pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                        type: string
                        description: |-
                          next_key is the key to be passed to PageRequest.key to
                          query the next page most efficiently. It will be empty if
                          there are no more results.
                        format: byte
                      total:
                        title: |-
                          total is total number of results available if PageRequest.count_total
                          was set, its value is undefined otherwise
                        type: string
                        format: uint64
                    description: |-
                      PageResponse is to be embedded in gRPC response messages where the
                      corresponding request message has used PageRequest.

                       message SomeResponse {
                               repeated Bar results = 1;
                               PageResponse page = 2;
                       }
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/payment/stream_record/{account}:
    get:
      tags:
      - Query
      summary: Queries a StreamRecord by index.
      operationId: StreamRecord
      parameters:
      - name: account
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  stream_record:
                    title: Stream Payment Record of a stream account
                    type: object
                    properties:
                      account:
                        title: account address
                        type: string
                      crud_timestamp:
                        title: latest update timestamp of the stream record
                        type: string
                        format: int64
                      netflow_rate:
                        type: string
                        description: |-
                          The per-second rate that an account's balance is changing.
                          It is the sum of the account's inbound and outbound flow rates.
                      static_balance:
                        type: string
                        description: The balance of the stream account at the latest
                          CRUD timestamp.
                      buffer_balance:
                        title: |-
                          reserved balance of the stream account
                          If the netflow rate is negative, the reserved balance is `netflow_rate * reserve_time`
                        type: string
                      lock_balance:
                        title: the locked balance of the stream account after it puts
                          a new object and before the object is sealed
                        type: string
                      status:
                        title: the status of the stream account
                        type: string
                        description: |-
                          - STREAM_ACCOUNT_STATUS_ACTIVE: STREAM_ACCOUNT_STATUS_ACTIVE defines the active status of a stream account.
                           - STREAM_ACCOUNT_STATUS_FROZEN: STREAM_ACCOUNT_STATUS_FROZEN defines the frozen status of a stream account.
                          A frozen stream account cannot be used as payment address for buckets.
                          It can be unfrozen by depositing more BNB to the stream account.
                        default: STREAM_ACCOUNT_STATUS_ACTIVE
                        enum:
                        - STREAM_ACCOUNT_STATUS_ACTIVE
                        - STREAM_ACCOUNT_STATUS_FROZEN
                      settle_timestamp:
                        title: the unix timestamp when the stream account will be
                          settled
                        type: string
                        format: int64
                      out_flows:
                        title: the accumulated outflow rates of the stream account
                        type: array
                        items:
                          title: |-
                            OutFlow defines the accumulative outflow stream rate in BNB
                            from a stream account to a Storage Provider
                          type: object
                          properties:
                            to_address:
                              title: stream account address who receives the flow,
                                usually SP(service provider)
                              type: string
                            rate:
                              title: flow rate
                              type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/sp/get_secondary_sp_store_price_by_time/{timestamp}:
    get:
      tags:
      - Query
      summary: get secondary store price by time
      operationId: QueryGetSecondarySpStorePriceByTime
      parameters:
      - name: timestamp
        in: path
        description: unix timestamp in seconds. If it's 0, it will return the latest
          price.
        required: true
        schema:
          type: string
          format: int64
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  secondary_sp_store_price:
                    title: global secondary sp store price, the price for all secondary
                      sps
                    type: object
                    properties:
                      update_time_sec:
                        title: update time, unix timestamp in seconds
                        type: string
                        format: int64
                      store_price:
                        title: store price, in bnb wei per charge byte
                        type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/sp/get_sp_storage_price_by_time/{sp_addr}/{timestamp}:
    get:
      tags:
      - Query
      summary: get storage price of specific sp and time
      operationId: QueryGetSpStoragePriceByTime
      parameters:
      - name: sp_addr
        in: path
        description: operator address of sp
        required: true
        schema:
          type: string
      - name: timestamp
        in: path
        description: unix timestamp in seconds. If it's 0, it will return the latest
          price.
        required: true
        schema:
          type: string
          format: int64
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  sp_storage_price:
                    title: storage price of a specific sp
                    type: object
                    properties:
                      sp_address:
                        title: sp address
                        type: string
                      update_time_sec:
                        title: update time, unix timestamp in seconds
                        type: string
                        format: int64
                      read_price:
                        title: read price, in bnb wei per charge byte
                        type: string
                      free_read_quota:
                        title: free read quota, in byte
                        type: string
                        format: uint64
                      store_price:
                        title: store price, in bnb wei per charge byte
                        type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/sp/params:
    get:
      tags:
      - Query
      summary: Parameters queries the parameters of the module.
      operationId: SpParams
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  params:
                    type: object
                    properties:
                      deposit_denom:
                        type: string
                        description: deposit_denom defines the staking coin denomination.
                      min_deposit:
                        type: string
                        description: min_deposit defines the minimum deposit amount
                          for storage providers.
                      secondary_sp_store_price_ratio:
                        title: the ratio of the store price of the secondary sp to
                          the primary sp, the default value is 80%
                        type: string
                    description: params holds all the parameters of this module.
                description: QueryParamsResponse is response type for the Query/Params
                  RPC method.
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage_provider/{spAddress}:
    get:
      tags:
      - Query
      summary: Queries a storage provider with specify address
      operationId: StorageProvider
      parameters:
      - name: spAddress
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  storageProvider:
                    title: StorageProvider defines the meta info of storage provider
                    type: object
                    properties:
                      operator_address:
                        type: string
                        description: operator_address defines the account address
                          of the storage provider's operator; It also is the unique
                          index key of sp.
                      funding_address:
                        type: string
                        description: funding_address defines one of the storage provider's
                          accounts which is used to deposit and reward.
                      seal_address:
                        title: seal_address defines one of the storage provider's
                          accounts which is used to SealObject
                        type: string
                      approval_address:
                        title: approval_address defines one of the storage provider's
                          accounts which is used to approve use's createBucket/createObject
                          request
                        type: string
                      gc_address:
                        type: string
                        description: gc_address defines one of the storage provider's
                          accounts which is used for gc purpose.
                      total_deposit:
                        type: string
                        description: total_deposit defines the number of tokens deposited
                          by this storage provider for staking.
                      status:
                        title: status defines the current service status of this storage
                          provider
                        type: string
                        description: Status is the status of a storage provider.
                        default: STATUS_IN_SERVICE
                        enum:
                        - STATUS_IN_SERVICE
                        - STATUS_IN_JAILED
                        - STATUS_GRACEFUL_EXITING
                        - STATUS_OUT_OF_SERVICE
                      endpoint:
                        title: endpoint define the storage provider's network service
                          address
                        type: string
                      description:
                        type: object
                        properties:
                          moniker:
                            title: moniker defines a human-readable name for the storage
                              provider
                            type: string
                          identity:
                            type: string
                            description: identity defines an optional identity signature
                              (ex. UPort or Keybase).
                          website:
                            type: string
                            description: website defines an optional website link.
                          security_contact:
                            type: string
                            description: security_contact defines an optional email
                              for security contact.
                          details:
                            type: string
                            description: details define other optional details.
                        description: description defines the description terms for
                          the storage provider.
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage_providers:
    get:
      tags:
      - Query
      summary: Queries a list of GetStorageProviders items.
      operationId: StorageProviders
      parameters:
      - name: pagination.key
        in: query
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        schema:
          type: string
          format: byte
      - name: pagination.offset
        in: query
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        in: query
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        in: query
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        schema:
          type: boolean
      - name: pagination.reverse
        in: query
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        schema:
          type: boolean
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  sps:
                    type: array
                    items:
                      title: StorageProvider defines the meta info of storage provider
                      type: object
                      properties:
                        operator_address:
                          type: string
                          description: operator_address defines the account address
                            of the storage provider's operator; It also is the unique
                            index key of sp.
                        funding_address:
                          type: string
                          description: funding_address defines one of the storage
                            provider's accounts which is used to deposit and reward.
                        seal_address:
                          title: seal_address defines one of the storage provider's
                            accounts which is used to SealObject
                          type: string
                        approval_address:
                          title: approval_address defines one of the storage provider's
                            accounts which is used to approve use's createBucket/createObject
                            request
                          type: string
                        gc_address:
                          type: string
                          description: gc_address defines one of the storage provider's
                            accounts which is used for gc purpose.
                        total_deposit:
                          type: string
                          description: total_deposit defines the number of tokens
                            deposited by this storage provider for staking.
                        status:
                          title: status defines the current service status of this
                            storage provider
                          type: string
                          description: Status is the status of a storage provider.
                          default: STATUS_IN_SERVICE
                          enum:
                          - STATUS_IN_SERVICE
                          - STATUS_IN_JAILED
                          - STATUS_GRACEFUL_EXITING
                          - STATUS_OUT_OF_SERVICE
                        endpoint:
                          title: endpoint define the storage provider's network service
                            address
                          type: string
                        description:
                          type: object
                          properties:
                            moniker:
                              title: moniker defines a human-readable name for the
                                storage provider
                              type: string
                            identity:
                              type: string
                              description: identity defines an optional identity signature
                                (ex. UPort or Keybase).
                            website:
                              type: string
                              description: website defines an optional website link.
                            security_contact:
                              type: string
                              description: security_contact defines an optional email
                                for security contact.
                            details:
                              type: string
                              description: details define other optional details.
                          description: description defines the description terms for
                            the storage provider.
                  pagination:
                    type: object
                    properties:
                      next_key:
                        pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                        type: string
                        description: |-
                          next_key is the key to be passed to PageRequest.key to
                          query the next page most efficiently. It will be empty if
                          there are no more results.
                        format: byte
                      total:
                        title: |-
                          total is total number of results available if PageRequest.count_total
                          was set, its value is undefined otherwise
                        type: string
                        format: uint64
                    description: pagination defines the pagination in the response.
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_bucket/{bucket_name}:
    get:
      tags:
      - Query
      summary: Queries a bucket with specify name.
      operationId: HeadBucket
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  bucket_info:
                    type: object
                    properties:
                      owner:
                        type: string
                        description: owner is the account address of bucket creator,
                          it is also the bucket owner.
                      bucket_name:
                        title: bucket_name is a globally unique name of bucket
                        type: string
                      visibility:
                        type: string
                        description: visibility defines the highest permissions for
                          bucket. When a bucket is public, everyone can get storage
                          objects in it.
                        default: VISIBILITY_TYPE_UNSPECIFIED
                        enum:
                        - VISIBILITY_TYPE_UNSPECIFIED
                        - VISIBILITY_TYPE_PUBLIC_READ
                        - VISIBILITY_TYPE_PRIVATE
                        - VISIBILITY_TYPE_INHERIT
                      id:
                        type: string
                        description: id is the unique identification for bucket.
                      source_type:
                        title: source_type defines which chain the user should send
                          the bucket management transactions to
                        type: string
                        default: SOURCE_TYPE_ORIGIN
                        enum:
                        - SOURCE_TYPE_ORIGIN
                        - SOURCE_TYPE_BSC_CROSS_CHAIN
                        - SOURCE_TYPE_MIRROR_PENDING
                      create_at:
                        type: string
                        description: create_at define the block timestamp when the
                          bucket created.
                        format: int64
                      payment_address:
                        title: payment_address is the address of the payment account
                        type: string
                      primary_sp_address:
                        type: string
                        description: |-
                          primary_sp_address is the address of the primary sp. Objects belongs to this bucket will never
                          leave this SP, unless you explicitly shift them to another SP.
                      charged_read_quota:
                        type: string
                        description: |-
                          charged_read_quota defines the traffic quota for read in bytes per month.
                          The available read data for each user is the sum of the free read data provided by SP and
                          the ChargeReadQuota specified here.
                        format: uint64
                      billing_info:
                        title: billing info of the bucket
                        type: object
                        properties:
                          price_time:
                            title: the time of the payment price, used to calculate
                              the charge rate of the bucket
                            type: string
                            format: int64
                          total_charge_size:
                            title: the total size of the objects in the bucket, used
                              to calculate the charge rate of the bucket
                            type: string
                            format: uint64
                          secondary_sp_objects_size:
                            title: secondary sp objects size statistics
                            type: array
                            items:
                              title: secondary sp objects size statistics
                              type: object
                              properties:
                                sp_address:
                                  title: address is the address of the secondary sp
                                  type: string
                                total_charge_size:
                                  title: size is the total size of the objects in
                                    the secondary sp
                                  type: string
                                  format: uint64
                      bucket_status:
                        type: string
                        description: bucket_status define the status of the bucket.
                        default: BUCKET_STATUS_CREATED
                        enum:
                        - BUCKET_STATUS_CREATED
                        - BUCKET_STATUS_DISCONTINUED
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_bucket_by_id/{bucket_id}:
    get:
      tags:
      - Query
      summary: Queries a bucket by id
      operationId: HeadBucketById
      parameters:
      - name: bucket_id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  bucket_info:
                    type: object
                    properties:
                      owner:
                        type: string
                        description: owner is the account address of bucket creator,
                          it is also the bucket owner.
                      bucket_name:
                        title: bucket_name is a globally unique name of bucket
                        type: string
                      visibility:
                        type: string
                        description: visibility defines the highest permissions for
                          bucket. When a bucket is public, everyone can get storage
                          objects in it.
                        default: VISIBILITY_TYPE_UNSPECIFIED
                        enum:
                        - VISIBILITY_TYPE_UNSPECIFIED
                        - VISIBILITY_TYPE_PUBLIC_READ
                        - VISIBILITY_TYPE_PRIVATE
                        - VISIBILITY_TYPE_INHERIT
                      id:
                        type: string
                        description: id is the unique identification for bucket.
                      source_type:
                        title: source_type defines which chain the user should send
                          the bucket management transactions to
                        type: string
                        default: SOURCE_TYPE_ORIGIN
                        enum:
                        - SOURCE_TYPE_ORIGIN
                        - SOURCE_TYPE_BSC_CROSS_CHAIN
                        - SOURCE_TYPE_MIRROR_PENDING
                      create_at:
                        type: string
                        description: create_at define the block timestamp when the
                          bucket created.
                        format: int64
                      payment_address:
                        title: payment_address is the address of the payment account
                        type: string
                      primary_sp_address:
                        type: string
                        description: |-
                          primary_sp_address is the address of the primary sp. Objects belongs to this bucket will never
                          leave this SP, unless you explicitly shift them to another SP.
                      charged_read_quota:
                        type: string
                        description: |-
                          charged_read_quota defines the traffic quota for read in bytes per month.
                          The available read data for each user is the sum of the free read data provided by SP and
                          the ChargeReadQuota specified here.
                        format: uint64
                      billing_info:
                        title: billing info of the bucket
                        type: object
                        properties:
                          price_time:
                            title: the time of the payment price, used to calculate
                              the charge rate of the bucket
                            type: string
                            format: int64
                          total_charge_size:
                            title: the total size of the objects in the bucket, used
                              to calculate the charge rate of the bucket
                            type: string
                            format: uint64
                          secondary_sp_objects_size:
                            title: secondary sp objects size statistics
                            type: array
                            items:
                              title: secondary sp objects size statistics
                              type: object
                              properties:
                                sp_address:
                                  title: address is the address of the secondary sp
                                  type: string
                                total_charge_size:
                                  title: size is the total size of the objects in
                                    the secondary sp
                                  type: string
                                  format: uint64
                      bucket_status:
                        type: string
                        description: bucket_status define the status of the bucket.
                        default: BUCKET_STATUS_CREATED
                        enum:
                        - BUCKET_STATUS_CREATED
                        - BUCKET_STATUS_DISCONTINUED
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_bucket_nft/{token_id}:
    get:
      tags:
      - Query
      summary: Queries a bucket with EIP712 standard metadata info
      operationId: HeadBucketNFT
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  meta_data:
                    type: object
                    properties:
                      description:
                        title: description
                        type: string
                      external_url:
                        title: externalUrl a link to external site to view NFT
                        type: string
                      bucket_name:
                        title: name of bucket NFT
                        type: string
                      image:
                        title: image is the link to image
                        type: string
                      attributes:
                        title: attributes
                        type: array
                        items:
                          type: object
                          properties:
                            trait_type:
                              type: string
                            value:
                              type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_group/{group_owner}/{group_name}:
    get:
      tags:
      - Query
      summary: Queries a group with specify owner and name .
      operationId: HeadGroup
      parameters:
      - name: group_owner
        in: path
        required: true
        schema:
          type: string
      - name: group_name
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  group_info:
                    type: object
                    properties:
                      owner:
                        type: string
                        description: owner is the owner of the group. It can not changed
                          once it created.
                      group_name:
                        type: string
                        description: group_name is the name of group which is unique
                          under an account.
                      source_type:
                        title: source_type
                        type: string
                        default: SOURCE_TYPE_ORIGIN
                        enum:
                        - SOURCE_TYPE_ORIGIN
                        - SOURCE_TYPE_BSC_CROSS_CHAIN
                        - SOURCE_TYPE_MIRROR_PENDING
                      id:
                        title: id is the unique identifier of group
                        type: string
                      extra:
                        title: extra is used to store extra info for the group
                        type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_group_member:
    get:
      tags:
      - Query
      summary: Queries a list of HeadGroupMember items.
      operationId: HeadGroupMember
      parameters:
      - name: member
        in: query
        schema:
          type: string
      - name: group_owner
        in: query
        schema:
          type: string
      - name: group_name
        in: query
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  group_member:
                    type: object
                    properties:
                      id:
                        title: id is an unique u256 sequence for each group member.
                          It also be used as NFT tokenID
                        type: string
                      group_id:
                        title: group_id is the unique id of the group
                        type: string
                      member:
                        title: member is the account address of the member
                        type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_group_nft/{token_id}:
    get:
      tags:
      - Query
      summary: Queries a group with EIP712 standard metadata info
      operationId: HeadGroupNFT
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  meta_data:
                    type: object
                    properties:
                      description:
                        title: description
                        type: string
                      external_url:
                        title: externalUrl a link to external site to view NFT
                        type: string
                      group_name:
                        title: name of group NFT
                        type: string
                      image:
                        title: image is the link to image
                        type: string
                      attributes:
                        title: attributes
                        type: array
                        items:
                          type: object
                          properties:
                            trait_type:
                              type: string
                            value:
                              type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_object/{bucket_name}/{object_name}:
    get:
      tags:
      - Query
      summary: Queries a object with specify name.
      operationId: HeadObject
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          type: string
      - name: object_name
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  object_info:
                    type: object
                    properties:
                      owner:
                        type: string
                      bucket_name:
                        title: bucket_name is the name of the bucket
                        type: string
                      object_name:
                        title: object_name is the name of object
                        type: string
                      id:
                        title: id is the unique identifier of object
                        type: string
                      payload_size:
                        title: payloadSize is the total size of the object payload
                        type: string
                        format: uint64
                      visibility:
                        type: string
                        description: visibility defines the highest permissions for
                          object. When an object is public, everyone can access it.
                        default: VISIBILITY_TYPE_UNSPECIFIED
                        enum:
                        - VISIBILITY_TYPE_UNSPECIFIED
                        - VISIBILITY_TYPE_PUBLIC_READ
                        - VISIBILITY_TYPE_PRIVATE
                        - VISIBILITY_TYPE_INHERIT
                      content_type:
                        type: string
                        description: content_type define the format of the object
                          which should be a standard MIME type.
                      create_at:
                        title: create_at define the block timestamp when the object
                          is created
                        type: string
                        format: int64
                      object_status:
                        type: string
                        description: object_status define the upload status of the
                          object.
                        default: OBJECT_STATUS_CREATED
                        enum:
                        - OBJECT_STATUS_CREATED
                        - OBJECT_STATUS_SEALED
                        - OBJECT_STATUS_DISCONTINUED
                      redundancy_type:
                        type: string
                        description: redundancy_type define the type of the redundancy
                          which can be multi-replication or EC.
                        default: REDUNDANCY_EC_TYPE
                        enum:
                        - REDUNDANCY_EC_TYPE
                        - REDUNDANCY_REPLICA_TYPE
                      source_type:
                        title: |-
                          SourceType represents the source of resource creation, which can
                          from Greenfield native or from a cross-chain transfer from BSC
                        type: string
                        description: source_type define the source of the object.
                        default: SOURCE_TYPE_ORIGIN
                        enum:
                        - SOURCE_TYPE_ORIGIN
                        - SOURCE_TYPE_BSC_CROSS_CHAIN
                        - SOURCE_TYPE_MIRROR_PENDING
                      checksums:
                        title: |-
                          checksums define the root hash of the pieces which stored in a SP.
                          add omit tag to omit the field when converting to NFT metadata
                        type: array
                        items:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
                      secondary_sp_addresses:
                        title: secondary_sp_addresses define the addresses of secondary_sps
                        type: array
                        items:
                          type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_object_by_id/{object_id}:
    get:
      tags:
      - Query
      summary: Queries an object by id
      operationId: HeadObjectById
      parameters:
      - name: object_id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  object_info:
                    type: object
                    properties:
                      owner:
                        type: string
                      bucket_name:
                        title: bucket_name is the name of the bucket
                        type: string
                      object_name:
                        title: object_name is the name of object
                        type: string
                      id:
                        title: id is the unique identifier of object
                        type: string
                      payload_size:
                        title: payloadSize is the total size of the object payload
                        type: string
                        format: uint64
                      visibility:
                        type: string
                        description: visibility defines the highest permissions for
                          object. When an object is public, everyone can access it.
                        default: VISIBILITY_TYPE_UNSPECIFIED
                        enum:
                        - VISIBILITY_TYPE_UNSPECIFIED
                        - VISIBILITY_TYPE_PUBLIC_READ
                        - VISIBILITY_TYPE_PRIVATE
                        - VISIBILITY_TYPE_INHERIT
                      content_type:
                        type: string
                        description: content_type define the format of the object
                          which should be a standard MIME type.
                      create_at:
                        title: create_at define the block timestamp when the object
                          is created
                        type: string
                        format: int64
                      object_status:
                        type: string
                        description: object_status define the upload status of the
                          object.
                        default: OBJECT_STATUS_CREATED
                        enum:
                        - OBJECT_STATUS_CREATED
                        - OBJECT_STATUS_SEALED
                        - OBJECT_STATUS_DISCONTINUED
                      redundancy_type:
                        type: string
                        description: redundancy_type define the type of the redundancy
                          which can be multi-replication or EC.
                        default: REDUNDANCY_EC_TYPE
                        enum:
                        - REDUNDANCY_EC_TYPE
                        - REDUNDANCY_REPLICA_TYPE
                      source_type:
                        title: |-
                          SourceType represents the source of resource creation, which can
                          from Greenfield native or from a cross-chain transfer from BSC
                        type: string
                        description: source_type define the source of the object.
                        default: SOURCE_TYPE_ORIGIN
                        enum:
                        - SOURCE_TYPE_ORIGIN
                        - SOURCE_TYPE_BSC_CROSS_CHAIN
                        - SOURCE_TYPE_MIRROR_PENDING
                      checksums:
                        title: |-
                          checksums define the root hash of the pieces which stored in a SP.
                          add omit tag to omit the field when converting to NFT metadata
                        type: array
                        items:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
                      secondary_sp_addresses:
                        title: secondary_sp_addresses define the addresses of secondary_sps
                        type: array
                        items:
                          type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/head_object_nft/{token_id}:
    get:
      tags:
      - Query
      summary: Queries a object with EIP712 standard metadata info
      operationId: HeadObjectNFT
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  meta_data:
                    type: object
                    properties:
                      description:
                        title: description
                        type: string
                      external_url:
                        title: externalUrl a link to external site to view NFT
                        type: string
                      object_name:
                        title: name of object NFT
                        type: string
                      image:
                        title: image is the link to image
                        type: string
                      attributes:
                        title: attributes
                        type: array
                        items:
                          type: object
                          properties:
                            trait_type:
                              type: string
                            value:
                              type: string
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                        value:
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                          type: string
                          format: byte
  /greenfield/storage/list_buckets:
    get:
      tags:
      - Query
      summary: Queries a list of bucket items.
      operationId: ListBuckets
      parameters:
      - name: pagination.key
        in: query
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        schema:
          type: string
          format: byte
      - name: pagination.offset
        in: query
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        in: query
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        in: query
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        schema:
          type: boolean
      - name: pagination.reverse
        in: query
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        schema:
          type: boolean
      responses:
        200:
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  bucket_infos:
                    type: array
                    items:
                      type: object
                      properties:
                        owner:
                          type: string
                          description: owner is the account address of bucket creator,
                            it is also the bucket owner.
                        bucket_name:
                          title: bucket_name is a globally unique name of bucket
                          type: string
                        visibility:
                          type: string
                          description: visibility defines the highest permissions
                            for bucket. When a bucket is public, everyone can get
                            storage objects in it.
                          default: VISIBILITY_TYPE_UNSPECIFIED
                          enum:
                          - VISIBILITY_TYPE_UNSPECIFIED
                          - VISIBILITY_TYPE_PUBLIC_READ
                          - VISIBILITY_TYPE_PRIVATE
                          - VISIBILITY_TYPE_INHERIT
                        id:
                          type: string
                          description: id is the unique identification for bucket.
                        source_type:
                          title: source_type defines which chain the user should send
                            the bucket management transactions to
                          type: string
                          default: SOURCE_TYPE_ORIGIN
                          enum:
                          - SOURCE_TYPE_ORIGIN
                          - SOURCE_TYPE_BSC_CROSS_CHAIN
                          - SOURCE_TYPE_MIRROR_PENDING
                        create_at:
                          type: string
                          description: create_at define the block timestamp when the
                            bucket created.
                          format: int64
                        payment_address:
                          title: payment_address is the address of the payment account
                          type: string
                        primary_sp_address:
                          type: string
                          description: |-
                            primary_sp_address is the address of the primary sp. Objects belongs to this bucket will never
                            leave this SP, unless you explicitly shift them to another SP.
                        charged_read_quota:
                          type: string
                          description: |-
[...]
